@import "./reset.css";

@font-face {
  font-family: go-icon;
  font-display: swap;
  src: url(https://go.v7labs.com/assets/go-icon-Ci9QReMF.eot);
  src: url(https://go.v7labs.com/assets/go-icon-Ci9QReMF.eot#iefix)
      format("embedded-opentype"),
    url(https://go.v7labs.com/assets/go-icon-zzY_rSvv.woff2) format("woff2"),
    url(https://go.v7labs.com/assets/go-icon-DARC1SgJ.woff) format("woff"),
    url(https://go.v7labs.com/assets/go-icon-IdcGiPiy.ttf) format("truetype"),
    url(https://go.v7labs.com/assets/go-icon-DDc2vFCm.svg#go-icon) format("svg");
}

:root {
  --base-black: hsl(0 0 0%);
  --base-transparent-black: hsla(0, 0%, 0%, 0);
  --base-transparent-white: hsla(0, 0%, 100%, 0);
  --base-white: #fff;
  --blue-50: hsl(214 100% 97%);
  --blue-100: hsl(214 95% 93%);
  --blue-200: hsl(213 97% 87%);
  --blue-300: hsl(212 96% 78%);
  --blue-400: hsl(213 94% 68%);
  --blue-500: hsl(217 91% 60%);
  --blue-600: hsl(221 83% 53%);
  --blue-700: hsl(224 76% 48%);
  --blue-800: hsl(226 71% 40%);
  --blue-900: hsl(224 64% 33%);
  --blue-950: hsl(226 57% 21%);
  --blue-alpha-50: hsl(214 100% 55% / 0.07);
  --blue-alpha-100: hsl(214 94% 52% / 0.15);
  --blue-alpha-200: hsl(213 97% 51% / 0.26);
  --blue-alpha-300: hsl(212 97% 50% / 0.43);
  --blue-alpha-400: hsl(213 98% 49% / 0.63);
  --blue-alpha-500: hsl(217 100% 48% / 0.77);
  --blue-alpha-600: hsl(221 98% 46% / 0.86);
  --blue-alpha-700: hsl(224 99% 42% / 0.89);
  --blue-alpha-800: hsl(226 98% 33% / 0.89);
  --blue-alpha-900: hsl(224 97% 25% / 0.89);
  --blue-alpha-950: hsl(227 100% 13% / 0.91);
  --cyan-100: hsl(185 96% 90%);
  --cyan-200: hsl(186 94% 82%);
  --cyan-300: hsl(187 92% 69%);
  --cyan-400: hsl(188 86% 53%);
  --cyan-50: hsl(183 100% 96%);
  --cyan-500: hsl(189 94% 43%);
  --cyan-600: hsl(192 91% 36%);
  --cyan-700: hsl(193 82% 31%);
  --cyan-800: hsl(194 70% 27%);
  --cyan-900: hsl(196 64% 24%);
  --cyan-950: hsl(197 79% 15%);
  --cyan-color: hsl(0 0% 100%);
  --fuchsia-50: hsl(289 100% 98%);
  --fuchsia-100: hsl(287 100% 95%);
  --fuchsia-200: hsl(288 96% 91%);
  --fuchsia-300: hsl(291 93% 83%);
  --fuchsia-400: hsl(292 91% 73%);
  --fuchsia-500: hsl(292 84% 61%);
  --fuchsia-600: hsl(293 69% 49%);
  --fuchsia-700: hsl(295 72% 40%);
  --fuchsia-800: hsl(295 70% 33%);
  --fuchsia-900: hsl(297 64% 28%);
  --fuchsia-950: hsl(297 90% 16%);
  --fuchsia-color: hsl(0 0% 100%);
  --gray-50: hsl(0 0% 98%);
  --gray-100: hsl(0 0% 95%);
  --gray-150: hsl(0 0% 93%);
  --gray-200: hsl(0 0% 90%);
  --gray-300: hsl(0 0% 85%);
  --gray-400: hsl(0 0% 60%);
  --gray-500: hsl(0 0% 50%);
  --gray-600: hsl(0 0% 40%);
  --gray-700: hsl(0 0% 30%);
  --gray-800: hsl(0 0% 20%);
  --gray-850: hsl(0 0% 15%);
  --gray-900: hsl(0 0% 10%);
  --gray-950: hsl(0 0% 7%);
  --gray-alpha-50: hsl(0 0% 0% / 0.02);
  --gray-alpha-100: hsl(0 0% 0% / 0.04);
  --gray-alpha-150: hsla(0, 0%, 0%, 0.07);
  --gray-alpha-200: hsl(0 0% 0% / 0.1);
  --gray-alpha-300: hsl(0 0% 0% / 0.15);
  --gray-alpha-400: hsl(0 0% 0% / 0.4);
  --gray-alpha-500: hsl(0 0% 0% / 0.5);
  --gray-alpha-600: hsl(0 0% 0% / 0.6);
  --gray-alpha-700: hsl(0 0% 0% / 0.7);
  --gray-alpha-800: hsl(0 0% 0% / 0.8);
  --gray-alpha-850: hsl(0 0% 0% / 0.85);
  --gray-alpha-900: hsl(0 0% 0% / 0.9);
  --gray-alpha-950: hsl(0 0% 0% / 0.93);
  --green-100: hsl(141 84% 93%);
  --green-200: hsl(141 79% 85%);
  --green-300: hsl(142 77% 73%);
  --green-400: hsl(142 69% 58%);
  --green-50: hsl(138 76% 97%);
  --green-500: hsl(142 71% 45%);
  --green-600: hsl(142 76% 36%);
  --green-700: hsl(142 72% 29%);
  --green-800: hsl(143 64% 24%);
  --green-900: hsl(144 61% 20%);
  --green-950: hsl(145 80% 10%);
  --green-alpha-50: hsl(139 96% 45% / 0.06);
  --green-alpha-100: hsl(141 96% 47% / 0.14);
  --green-alpha-200: hsl(141 97% 45% / 0.27);
  --green-alpha-300: hsl(142 97% 44% / 0.48);
  --green-alpha-400: hsl(142 100% 41% / 0.71);
  --green-alpha-500: hsl(142 99% 37% / 0.87);
  --green-alpha-600: hsl(142 97% 31% / 0.92);
  --green-alpha-700: hsl(142 98% 23% / 0.92);
  --green-alpha-800: hsl(142 96% 18% / 0.92);
  --green-alpha-900: hsl(144 94% 14% / 0.93);
  --green-alpha-950: hsl(146 91% 9% / 0.99);
  --orange-50: hsl(33 100% 96%);
  --orange-100: hsl(34 100% 92%);
  --orange-200: hsl(32 98% 83%);
  --orange-300: hsl(31 97% 72%);
  --orange-400: hsl(27 96% 61%);
  --orange-500: hsl(25 95% 53%);
  --orange-600: hsl(21 90% 48%);
  --orange-700: hsl(17 88% 40%);
  --orange-800: hsl(15 79% 34%);
  --orange-900: hsl(15 75% 28%);
  --orange-950: hsl(13 81% 15%);
  --orange-alpha-50: hsl(33 100% 56% / 0.08);
  --orange-alpha-100: hsl(34 100% 52% / 0.17);
  --orange-alpha-200: hsl(32 98% 50% / 0.34);
  --orange-alpha-300: hsl(31 98% 50% / 0.55);
  --orange-alpha-400: hsl(27 98% 49% / 0.77);
  --orange-alpha-500: hsl(25 98% 49% / 0.92);
  --orange-alpha-600: hsl(21 98% 46% / 0.96);
  --orange-alpha-700: hsl(17 98% 38% / 0.96);
  --orange-alpha-800: hsl(15 100% 29% / 0.93);
  --orange-alpha-900: hsl(15 100% 22% / 0.93);
  --orange-alpha-950: hsl(13 94% 13% / 0.98);
  --rainbow-01-dark: hsl(0 100% 40%);
  --rainbow-01-desaturated: hsl(0 100% 40% / 0.12);
  --rainbow-01-light: hsl(0 100% 70%);
  --rainbow-01-saturated: hsl(0 100% 56%);
  --rainbow-02-dark: hsl(15 100% 40%);
  --rainbow-02-desaturated: hsl(15 100% 50% / 0.12);
  --rainbow-02-light: hsl(15 100% 70%);
  --rainbow-02-saturated: hsl(15 100% 55%);
  --rainbow-03-dark: hsl(30 100% 40%);
  --rainbow-03-desaturated: hsl(30 100% 50% / 0.12);
  --rainbow-03-light: hsl(30 100% 70%);
  --rainbow-03-saturated: hsl(30 100% 52%);
  --rainbow-04-dark: hsl(45 100% 35%);
  --rainbow-04-desaturated: hsl(45 100% 50% / 0.16);
  --rainbow-04-light: hsl(45 100% 70%);
  --rainbow-04-saturated: hsl(45 100% 54%);
  --rainbow-05-dark: hsl(90 80% 35%);
  --rainbow-05-desaturated: hsl(91 96% 46% / 0.16);
  --rainbow-05-light: hsl(90 80% 70%);
  --rainbow-05-saturated: hsl(90 83% 56%);
  --rainbow-06-dark: hsl(120 48% 40%);
  --rainbow-06-desaturated: hsl(120 94% 34% / 0.12);
  --rainbow-06-light: hsl(120 48% 70%);
  --rainbow-06-saturated: hsl(120 59% 51%);
  --rainbow-07-dark: hsl(150 48% 40%);
  --rainbow-07-desaturated: hsl(149 94% 34% / 0.12);
  --rainbow-07-light: hsl(150 48% 70%);
  --rainbow-07-saturated: hsl(150 79% 52%);
  --rainbow-08-dark: hsl(180 80% 32%);
  --rainbow-08-desaturated: hsl(180 96% 46% / 0.12);
  --rainbow-08-light: hsl(180 80% 60%);
  --rainbow-08-saturated: hsl(180 83% 46%);
  --rainbow-09-dark: hsl(195 96% 40%);
  --rainbow-09-desaturated: hsl(195 97% 50% / 0.12);
  --rainbow-09-light: hsl(195 96% 70%);
  --rainbow-09-saturated: hsl(195 96% 49%);
  --rainbow-10-dark: hsl(210 97% 40%);
  --rainbow-10-desaturated: hsl(210 100% 50% / 0.12);
  --rainbow-10-light: hsl(210 97% 75%);
  --rainbow-10-saturated: hsl(210 100% 57%);
  --rainbow-11-dark: hsl(225 96% 40%);
  --rainbow-11-desaturated: hsl(225 97% 50% / 0.16);
  --rainbow-11-light: hsl(225 96% 80%);
  --rainbow-11-saturated: hsl(225 100% 56%);
  --rainbow-12-dark: hsl(249 98% 40%);
  --rainbow-12-desaturated: hsl(248 100% 51% / 0.16);
  --rainbow-12-light: hsl(249 98% 80%);
  --rainbow-12-saturated: hsl(249 100% 63%);
  --rainbow-13-dark: hsl(270 80% 40%);
  --rainbow-13-desaturated: hsl(269 96% 46% / 0.16);
  --rainbow-13-light: hsl(270 80% 75%);
  --rainbow-13-saturated: hsl(270 91% 53%);
  --rainbow-14-dark: hsl(285 80% 40%);
  --rainbow-14-desaturated: hsl(275 100% 50% / 0.12);
  --rainbow-14-light: hsl(285 80% 70%);
  --rainbow-14-saturated: hsl(285 91% 53%);
  --rainbow-15-dark: hsl(315 89% 40%);
  --rainbow-15-desaturated: hsl(315 100% 52% / 0.12);
  --rainbow-15-light: hsl(315 89% 70%);
  --rainbow-15-saturated: hsl(315 92% 51%);
  --rainbow-16-dark: hsl(330 80% 40%);
  --rainbow-16-desaturated: hsl(315 96% 46% / 0.12);
  --rainbow-16-light: hsl(330 80% 70%);
  --rainbow-16-saturated: hsl(330 91% 53%);
  --red-50: hsl(0 86% 97%);
  --red-100: hsl(0 93% 94%);
  --red-200: hsl(0 96% 89%);
  --red-300: hsl(0 94% 82%);
  --red-400: hsl(0 91% 71%);
  --red-500: hsl(0 84% 60%);
  --red-600: hsl(0 72% 51%);
  --red-700: hsl(0 74% 42%);
  --red-800: hsl(0 70% 35%);
  --red-900: hsl(0 63% 31%);
  --red-950: hsl(0 75% 15%);
  --red-alpha-50: hsl(0 86% 54% / 0.06);
  --red-alpha-100: hsl(0 94% 51% / 0.12);
  --red-alpha-200: hsl(0 98% 50% / 0.21);
  --red-alpha-300: hsl(0 96% 49% / 0.36);
  --red-alpha-400: hsl(0 99% 48% / 0.56);
  --red-alpha-500: hsl(0 98% 46% / 0.74);
  --red-alpha-600: hsl(0 97% 43% / 0.86);
  --red-alpha-700: hsl(0 97% 35% / 0.9);
  --red-alpha-800: hsl(0 97% 28% / 0.9);
  --red-alpha-900: hsl(0 98% 22% / 0.89);
  --red-alpha-950: hsl(0 94% 13% / 0.97);
  --violet-50: hsl(250 100% 98%);
  --violet-100: hsl(251 91% 95%);
  --violet-200: hsl(251 95% 92%);
  --violet-300: hsl(252 95% 85%);
  --violet-400: hsl(255 92% 76%);
  --violet-500: hsl(258 90% 66%);
  --violet-600: hsl(262 83% 58%);
  --violet-700: hsl(263 70% 50%);
  --violet-800: hsl(263 69% 42%);
  --violet-900: hsl(264 67% 35%);
  --violet-950: hsl(261 73% 23%);
  --violet-alpha-50: rgba(55, 15, 255, 0.04);
  --violet-alpha-100: rgba(55, 15, 255, 0.08);
  --violet-alpha-200: rgba(55, 15, 255, 0.15);
  --violet-alpha-300: rgba(55, 15, 255, 0.3);
  --violet-alpha-400: rgba(55, 15, 255, 0.46);
  --violet-alpha-500: rgba(55, 15, 255, 0.64);
  --violet-alpha-600: rgba(55, 15, 255, 0.78);
  --violet-alpha-700: rgba(55, 15, 255, 0.85);
  --violet-alpha-800: rgba(55, 15, 255, 0.88);
  --violet-alpha-900: rgba(55, 15, 255, 0.89);
  --violet-alpha-950: rgba(55, 15, 255, 0.94);
  --white-alpha-50: hsl(0 0% 100% / 0.03);
  --white-alpha-100: hsl(0 0% 100% / 0.05);
  --white-alpha-150: hsl(0 0% 100% / 0.07);
  --white-alpha-200: hsl(0 0% 100% / 0.11);
  --white-alpha-300: hsl(0 0% 100% / 0.2);
  --white-alpha-400: hsl(0 0% 100% / 0.4);
  --white-alpha-500: hsl(0 0% 100% / 0.5);
  --white-alpha-600: hsl(0 0% 100% / 0.6);
  --white-alpha-700: hsl(0 0% 100% / 0.73);
  --white-alpha-800: hsl(0 0% 100% / 0.83);
  --white-alpha-900: hsl(0 0% 100% / 0.91);
  --white-alpha-950: hsl(0 0% 100% / 0.96);
  --yellow-50: hsl(55 92% 95%);
  --yellow-100: hsl(55 100% 88%);
  --yellow-200: hsl(53 100% 77%);
  --yellow-300: hsl(50 100% 64%);
  --yellow-400: hsl(48 100% 53%);
  --yellow-500: hsl(45 100% 47%);
  --yellow-600: hsl(41 100% 40%);
  --yellow-700: hsl(35 100% 33%);
  --yellow-800: hsl(32 81% 29%);
  --yellow-900: hsl(28 73% 26%);
  --yellow-950: hsl(26 83% 14%);
}

:root {
  --color-background-critical: var(--red-600);
  --color-background-critical-hovered: var(--red-700);
  --color-background-critical-pressed: var(--red-800);
  --color-background-critical-subtle: var(--red-alpha-50);
  --color-background-critical-subtle-hovered: var(--red-alpha-100);
  --color-background-critical-subtle-pressed: var(--red-alpha-200);
  --color-background-critical-transparent: var(--base-transparent-black);
  --color-background-critical-transparent-hovered: var(--red-alpha-100);
  --color-background-critical-transparent-pressed: var(--red-alpha-200);
  --color-background-disabled: var(--gray-alpha-150);
  --color-background-gray-subtlest: var(--gray-alpha-100);
  --color-background-gray-subtlest-hovered: var(--gray-alpha-200);
  --color-background-gray-subtlest-pressed: var(--gray-alpha-300);
  --color-background-gray-subtle: var(--gray-alpha-200);
  --color-background-gray-subtle-hovered: var(--gray-alpha-300);
  --color-background-gray-subtle-pressed: var(--gray-alpha-400);
  --color-background-gray-sunken: var(--gray-alpha-50);
  --color-background-gray-sunken-hovered: var(--gray-alpha-100);
  --color-background-gray-sunken-pressed: var(--gray-alpha-150);
  --color-background-primary: var(--blue-600);
  --color-background-primary-hovered: var(--blue-700);
  --color-background-primary-pressed: var(--blue-800);
  --color-background-black: var(--gray-850);
  --color-background-black-hovered: var(--gray-alpha-900);
  --color-background-black-pressed: var(--gray-alpha-950);
  --color-background-selected: var(--blue-alpha-50);
  --color-background-selected-hovered: var(--blue-alpha-100);
  --color-background-selected-pressed: var(--blue-alpha-200);
  --color-background-success: var(--green-600);
  --color-background-success-hovered: var(--green-700);
  --color-background-success-pressed: var(--green-700);
  --color-background-success-subtle: var(--green-alpha-100);
  --color-background-blue-selected: var(--blue-alpha-500);
  --color-background-blue-subtle: var(--blue-alpha-50);
  --color-background-transparent: var(--base-transparent-black);
  --color-background-transparent-hovered: var(--gray-alpha-100);
  --color-background-transparent-pressed: var(--gray-alpha-200);
  --color-background-warning-subtle: var(--orange-alpha-100);
  --color-background-rainbow-01-subtle: var(--rainbow-01-desaturated);
  --color-background-rainbow-02-subtle: var(--rainbow-02-desaturated);
  --color-background-rainbow-03-subtle: var(--rainbow-03-desaturated);
  --color-background-rainbow-04-subtle: var(--rainbow-04-desaturated);
  --color-background-rainbow-05-subtle: var(--rainbow-05-desaturated);
  --color-background-rainbow-06-subtle: var(--rainbow-06-desaturated);
  --color-background-rainbow-07-subtle: var(--rainbow-07-desaturated);
  --color-background-rainbow-08-subtle: var(--rainbow-08-desaturated);
  --color-background-rainbow-09-subtle: var(--rainbow-09-desaturated);
  --color-background-rainbow-10-subtle: var(--rainbow-10-desaturated);
  --color-background-rainbow-11-subtle: var(--rainbow-11-desaturated);
  --color-background-rainbow-12-subtle: var(--rainbow-12-desaturated);
  --color-background-rainbow-13-subtle: var(--rainbow-13-desaturated);
  --color-background-rainbow-14-subtle: var(--rainbow-14-desaturated);
  --color-background-rainbow-15-subtle: var(--rainbow-15-desaturated);
  --color-background-rainbow-16-subtle: var(--rainbow-16-desaturated);
  --color-background-rainbow-17-subtle: var(--gray-alpha-100);
  --color-background-rainbow-01-bold: var(--rainbow-01-saturated);
  --color-background-rainbow-02-bold: var(--rainbow-02-saturated);
  --color-background-rainbow-03-bold: var(--rainbow-03-saturated);
  --color-background-rainbow-04-bold: var(--rainbow-04-saturated);
  --color-background-rainbow-05-bold: var(--rainbow-05-saturated);
  --color-background-rainbow-06-bold: var(--rainbow-06-saturated);
  --color-background-rainbow-07-bold: var(--rainbow-07-saturated);
  --color-background-rainbow-08-bold: var(--rainbow-08-saturated);
  --color-background-rainbow-09-bold: var(--rainbow-09-saturated);
  --color-background-rainbow-10-bold: var(--rainbow-10-saturated);
  --color-background-rainbow-11-bold: var(--rainbow-11-saturated);
  --color-background-rainbow-12-bold: var(--rainbow-12-saturated);
  --color-background-rainbow-13-bold: var(--rainbow-13-saturated);
  --color-background-rainbow-14-bold: var(--rainbow-14-saturated);
  --color-background-rainbow-15-bold: var(--rainbow-15-saturated);
  --color-background-rainbow-16-bold: var(--rainbow-16-saturated);
  --color-background-stages-annotate-default: var(--blue-600);
  --color-background-stages-annotate-hovered: var(--blue-700);
  --color-background-stages-annotate-pressed: var(--blue-600);
  --color-background-stages-archive-default: var(--red-600);
  --color-background-stages-archive-hovered: var(--red-700);
  --color-background-stages-archive-pressed: var(--red-600);
  --color-background-stages-code-default: var(--orange-600);
  --color-background-stages-code-hovered: var(--orange-700);
  --color-background-stages-code-pressed: var(--orange-600);
  --color-background-stages-complete-default: var(--green-600);
  --color-background-stages-complete-hovered: var(--green-700);
  --color-background-stages-complete-pressed: var(--green-600);
  --color-background-stages-dataset-default: var(--cyan-600);
  --color-background-stages-dataset-hovered: var(--cyan-700);
  --color-background-stages-dataset-pressed: var(--cyan-600);
  --color-background-stages-logic-default: var(--fuchsia-600);
  --color-background-stages-logic-hovered: var(--fuchsia-700);
  --color-background-stages-logic-pressed: var(--fuchsia-600);
  --color-background-stages-model-default: var(--violet-600);
  --color-background-stages-model-hovered: var(--violet-700);
  --color-background-stages-model-pressed: var(--violet-600);
  --color-background-stages-model-subtle-default: var(--violet-alpha-50);
  --color-background-stages-model-subtle-hovered: var(--violet-alpha-100);
  --color-background-stages-model-subtle-pressed: var(--violet-alpha-200);
  --color-background-stages-review-default: var(--yellow-500);
  --color-background-stages-review-hovered: var(--yellow-600);
  --color-background-stages-review-pressed: var(--yellow-500);
  --color-background-stages-consensus-default: var(--yellow-500);
  --color-background-stages-consensus-hovered: var(--yellow-600);
  --color-background-stages-consensus-pressed: var(--yellow-500);
  --color-background-stages-webhook-default: var(--orange-600);
  --color-background-stages-webhook-hovered: var(--orange-700);
  --color-background-stages-webhook-pressed: var(--orange-600);
  --color-blanket-default: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  --color-border-critical: var(--red-alpha-500);
  --color-border-default: var(--gray-alpha-200);
  --color-border-subtle: var(--gray-alpha-150);
  --color-border-warning: var(--orange-alpha-500);
  --color-border-focused: var(--blue-alpha-500);
  --color-border-focused-transparent: var(--blue-alpha-400);
  --color-border-input: var(--gray-alpha-200);
  --color-border-input-hovered: var(--gray-alpha-200);
  --color-icon-critical: var(--red-600);
  --color-icon-default: var(--gray-900);
  --color-icon-gray-subtlest: var(--gray-alpha-150);
  --color-icon-gray-subtle: var(--gray-alpha-200);
  --color-icon-disabled: var(--gray-alpha-300);
  --color-icon-inverted: var(--base-white);
  --color-icon-inverted-subtle-irreversible: var(--white-alpha-600);
  --color-icon-inverted-irreversible: var(--base-white);
  --color-icon-primary: var(--blue-600);
  --color-icon-subtle: var(--gray-600);
  --color-icon-subtlest: var(--gray-500);
  --color-icon-success: var(--green-600);
  --color-icon-stale: var(--yellow-500);
  --color-icon-warning: var(--orange-600);
  --color-link-default: var(--blue-600);
  --color-link-hovered: var(--blue-700);
  --color-link-pressed: var(--blue-800);
  --color-surface-popover-inverted: var(--gray-950);
  --color-surface-default: var(--base-white);
  --color-surface-secondary: var(--gray-50);
  --color-surface-tertiary: var(--gray-100);
  --color-surface-default-persist: var(--base-white);
  --color-surface-secondary-persist: var(--gray-50);
  --color-surface-tertiary-persist: var(--gray-100);
  --color-surface-popover: var(--base-white);
  --color-text-critical: var(--red-600);
  --color-text-default: var(--gray-alpha-900);
  --color-text-disabled: var(--gray-alpha-300);
  --color-text-inverted: var(--white-alpha-900);
  --color-text-inverted-subtle: var(--white-alpha-600);
  --color-text-inverted-irreversible: var(--white-alpha-900);
  --color-text-inverted-subtle-irreversible: var(--white-alpha-600);
  --color-text-selected: var(--blue-600);
  --color-text-subtle: var(--gray-alpha-600);
  --color-text-subtlest: var(--gray-alpha-400);
  --color-text-success: var(--green-600);
  --color-text-warning: var(--orange-600);
  --color-text-rainbow-01: var(--rainbow-01-dark);
  --color-text-rainbow-02: var(--rainbow-02-dark);
  --color-text-rainbow-03: var(--rainbow-03-dark);
  --color-text-rainbow-04: var(--rainbow-04-dark);
  --color-text-rainbow-05: var(--rainbow-05-dark);
  --color-text-rainbow-06: var(--rainbow-06-dark);
  --color-text-rainbow-07: var(--rainbow-07-dark);
  --color-text-rainbow-08: var(--rainbow-08-dark);
  --color-text-rainbow-09: var(--rainbow-09-dark);
  --color-text-rainbow-10: var(--rainbow-10-dark);
  --color-text-rainbow-11: var(--rainbow-11-dark);
  --color-text-rainbow-12: var(--rainbow-12-dark);
  --color-text-rainbow-13: var(--rainbow-13-dark);
  --color-text-rainbow-14: var(--rainbow-14-dark);
  --color-text-rainbow-15: var(--rainbow-15-dark);
  --color-text-rainbow-16: var(--rainbow-16-dark);
  --color-text-rainbow-17: var(--gray-alpha-600);
  --rainbow-17-light: var(--gray-alpha-300);
}

:root [data-theme="dark"] {
  --color-background-critical: var(--red-600);
  --color-background-critical-hovered: var(--red-500);
  --color-background-critical-pressed: var(--red-400);
  --color-background-critical-subtle: var(--red-alpha-950);
  --color-background-critical-subtle-hovered: var(--red-alpha-900);
  --color-background-critical-subtle-pressed: var(--red-alpha-800);
  --color-background-critical-transparent: var(--base-transparent-white);
  --color-background-critical-transparent-hovered: var(--red-alpha-900);
  --color-background-critical-transparent-pressed: var(--red-alpha-800);
  --color-background-disabled: var(--white-alpha-200);
  --color-background-gray-subtlest: var(--white-alpha-100);
  --color-background-gray-subtlest-hovered: var(--white-alpha-300);
  --color-background-gray-subtlest-pressed: var(--white-alpha-400);
  --color-background-gray-subtle: var(--white-alpha-200);
  --color-background-gray-subtle-hovered: var(--white-alpha-300);
  --color-background-gray-subtle-pressed: var(--white-alpha-400);
  --color-background-gray-sunken: var(--white-alpha-50);
  --color-background-gray-sunken-hovered: var(--white-alpha-100);
  --color-background-gray-sunken-pressed: var(--white-alpha-150);
  --color-background-primary: var(--blue-600);
  --color-background-primary-hovered: var(--blue-500);
  --color-background-primary-pressed: var(--blue-400);
  --color-background-black: var(--white-alpha-950);
  --color-background-black-hovered: var(--white-alpha-900);
  --color-background-black-pressed: var(--white-alpha-800);
  --color-background-selected: var(--blue-alpha-100);
  --color-background-selected-hovered: var(--blue-alpha-200);
  --color-background-selected-pressed: var(--blue-alpha-300);
  --color-background-success: var(--green-600);
  --color-background-success-hovered: var(--green-500);
  --color-background-success-pressed: var(--green-400);
  --color-background-success-subtle: var(--green-alpha-100);
  --color-background-blue-selected: var(--blue-alpha-500);
  --color-background-blue-subtle: var(--blue-alpha-50);
  --color-background-transparent: var(--base-transparent-white);
  --color-background-transparent-hovered: var(--white-alpha-200);
  --color-background-transparent-pressed: var(--white-alpha-300);
  --color-background-warning-subtle: var(--orange-alpha-900);
  --color-background-rainbow-17-subtle: var(--white-alpha-100);
  --color-background-stages-annotate-default: var(--blue-500);
  --color-background-stages-annotate-hovered: var(--blue-600);
  --color-background-stages-annotate-pressed: var(--blue-500);
  --color-background-stages-archive-default: var(--red-500);
  --color-background-stages-archive-hovered: var(--red-600);
  --color-background-stages-archive-pressed: var(--red-500);
  --color-background-stages-code-default: var(--orange-500);
  --color-background-stages-code-hovered: var(--orange-600);
  --color-background-stages-code-pressed: var(--orange-500);
  --color-background-stages-complete-default: var(--green-400);
  --color-background-stages-complete-hovered: var(--green-500);
  --color-background-stages-complete-pressed: var(--green-400);
  --color-background-stages-dataset-default: var(--cyan-500);
  --color-background-stages-dataset-hovered: var(--cyan-600);
  --color-background-stages-dataset-pressed: var(--cyan-500);
  --color-background-stages-logic-default: var(--fuchsia-500);
  --color-background-stages-logic-hovered: var(--fuchsia-600);
  --color-background-stages-logic-pressed: var(--fuchsia-500);
  --color-background-stages-model-default: var(--violet-500);
  --color-background-stages-model-hovered: var(--violet-600);
  --color-background-stages-model-pressed: var(--violet-500);
  --color-background-stages-model-subtle-default: var(--violet-alpha-200);
  --color-background-stages-model-subtle-hovered: var(--violet-alpha-300);
  --color-background-stages-model-subtle-pressed: var(--violet-alpha-400);
  --color-background-stages-review-default: var(--yellow-500);
  --color-background-stages-review-hovered: var(--yellow-600);
  --color-background-stages-review-pressed: var(--yellow-500);
  --color-background-stages-consensus-default: var(--yellow-500);
  --color-background-stages-consensus-hovered: var(--yellow-600);
  --color-background-stages-consensus-pressed: var(--yellow-500);
  --color-background-stages-webhook-default: var(--orange-500);
  --color-background-stages-webhook-hovered: var(--orange-600);
  --color-background-stages-webhook-pressed: var(--orange-500);
  --color-blanket-default: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  --color-border-critical: var(--red-alpha-600);
  --color-border-warning: var(--orange-alpha-600);
  --color-border-default: var(--white-alpha-200);
  --color-border-subtle: var(--white-alpha-150);
  --color-border-focused: var(--blue-alpha-400);
  --color-border-focused-transparent: var(--blue-alpha-300);
  --color-border-input: var(--white-alpha-300);
  --color-border-input-hovered: var(--white-alpha-400);
  --color-icon-critical: var(--red-500);
  --color-icon-default: var(--gray-100);
  --color-icon-gray-subtlest: var(--white-alpha-150);
  --color-icon-gray-subtle: var(--white-alpha-200);
  --color-icon-disabled: var(--gray-600);
  --color-icon-inverted: var(--base-black);
  --color-icon-inverted-subtle-irreversible: var(--white-alpha-600);
  --color-icon-inverted-irreversible: var(--base-white);
  --color-icon-primary: var(--blue-600);
  --color-icon-subtle: var(--gray-400);
  --color-icon-subtlest: var(--gray-500);
  --color-icon-success: var(--green-500);
  --color-icon-stale: var(--yellow-500);
  --color-icon-warning: var(--orange-500);
  --color-link-default: var(--blue-600);
  --color-link-hovered: var(--blue-500);
  --color-link-pressed: var(--blue-400);
  --color-surface-popover-inverted: var(--gray-800);
  --color-surface-default: var(--gray-850);
  --color-surface-secondary: var(--gray-900);
  --color-surface-tertiary: var(--gray-950);
  --color-surface-default-persist: var(--gray-950);
  --color-surface-secondary-persist: var(--gray-900);
  --color-surface-tertiary-persist: var(--gray-850);
  --color-surface-popover: var(--gray-900);
  --color-text-critical: var(--red-500);
  --color-text-default: var(--white-alpha-900);
  --color-text-disabled: var(--white-alpha-300);
  --color-text-inverted: var(--gray-alpha-900);
  --color-text-inverted-subtle: var(--gray-alpha-600);
  --color-text-inverted-irreversible: var(--white-alpha-900);
  --color-text-inverted-subtle-irreversible: var(--white-alpha-600);
  --color-text-selected: var(--blue-500);
  --color-text-subtle: var(--white-alpha-600);
  --color-text-subtlest: var(--white-alpha-400);
  --color-text-success: var(--green-500);
  --color-text-warning: var(--orange-500);
  --color-text-rainbow-01: var(--rainbow-01-light);
  --color-text-rainbow-02: var(--rainbow-02-light);
  --color-text-rainbow-03: var(--rainbow-03-light);
  --color-text-rainbow-04: var(--rainbow-04-light);
  --color-text-rainbow-05: var(--rainbow-05-light);
  --color-text-rainbow-06: var(--rainbow-06-light);
  --color-text-rainbow-07: var(--rainbow-07-light);
  --color-text-rainbow-08: var(--rainbow-08-light);
  --color-text-rainbow-09: var(--rainbow-09-light);
  --color-text-rainbow-10: var(--rainbow-10-light);
  --color-text-rainbow-11: var(--rainbow-11-light);
  --color-text-rainbow-12: var(--rainbow-12-light);
  --color-text-rainbow-13: var(--rainbow-13-light);
  --color-text-rainbow-14: var(--rainbow-14-light);
  --color-text-rainbow-15: var(--rainbow-15-light);
  --color-text-rainbow-16: var(--rainbow-16-light);
  --color-text-rainbow-17: var(--white-alpha-600);
  --rainbow-17-light: var(--gray-600);
  --color-text: var(--vt-c-text-dark-2);
}

html,
body {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

body {
  align-items: stretch;
  color: var(--color-text-default);
  background-color: var(--color-surface-tertiary);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-feature-settings: "ss03" on, "ss01" on, "cv06" on;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
