.dialog {
  backdrop-filter: blur(8px);
  background-color: var(--color-text-inverted-subtle);
  border-radius: 12px;
  border: 0;
  filter: blur(0);
  left: 50%;
  opacity: 1;
  outline: 2px solid transparent;
  padding: 8px;
  position: fixed;
  top: 8px;
  transform: translateX(-50%) scale(100%);
  transition-behavior: allow-discrete;
  transition-duration: 0.2s;
  transition-property: opacity, display, transform, filter;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  width: 640px;

  @starting-style {
    & {
      filter: blur(16px);
      opacity: 0;
      transform: translateX(-50%) scale(90%);
    }
  }

  &:not([open]) {
    filter: blur(16px);
    opacity: 0;
    transform: translateX(-50%) scale(90%);
  }
}

.suggestionsTitle {
  color: var(--color-text-subtlest);
  padding: 8px;
}

.text {
  display: flex;
  align-items: center;

  svg {
    color: #ff6200;
  }

  input {
    background: transparent;
    border: 0;
    caret-color: var(--color-link-default);
    color: var(--color-text-default);
    flex: 1;
    outline: 2px solid transparent;
    padding: 8px;
  }

  button {
    background: transparent;
    border-radius: 4px;
    border: 0;
    color: var(--color-icon-subtle);
    font-size: 9px;
    height: 16px;
    padding: 0;
    width: 16px;

    &:hover {
      background-color: var(--color-background-transparent-hovered);
    }

    &:focus-visible {
      background-color: var(--color-surface-secondary);
    }
  }
}

.suggestionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;

    button {
      background: transparent;
      border: 0;
      color: var(--color-text-default);
      padding: 8px;
      text-align: left;
      transition: none;
      width: 100%;

      &:focus {
        background-color: var(--color-background-transparent-hovered);
      }
    }

    &.activeOption button {
      background-color: var(--color-background-transparent-hovered);
    }
  }
}
